

#container {
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 15px;
}

#bouton{
font-size: larger;
    background-color:black;
    color: white;
    
}

div{

gap: 10px;
}

.avantagecli{
    display: flex;
    justify-content: center;
    gap: 95px;
}


.avantageclients{
    
        width: 150px;

    padding: 6px 21px;
    border: 1px solid rgb(230, 226, 226);

    text-align: center;

    
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.237);
}



#containerActivite{
    margin: auto;
            width: 95%;

    padding: 6px 21px;
    border: 1px solid rgb(230, 226, 226);

    text-align: center;

    background-color: grey;
    padding: 20px;
    text-align: left;

   
}

#av{
    display: flex;
    justify-content: center;
    gap: 130px;
  
}

img{
    width: 100%;
}




