*{
    font-family: "Oswald", sans-serif;
}

#container {
    flex-direction: column;
    display: flex;
    text-align: center;
    margin: 15px;
}

#bouton{
font-size: larger;
    background-color:black;
    color: white;
    
}



.avantagecli{
    display: flex;
    justify-content: center;
    gap: 95px;
}


.avantageclients{
    
        width: 150px;

    padding: 6px 21px;
    border: 1px solid rgb(230, 226, 226);

    text-align: center;

    
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.237);
}



#containerActivite{
    margin: auto;
            width: 95%;

    padding: 6px 21px;
    border: 1px solid rgb(230, 226, 226);

    text-align: center;

    
    
    text-align: left;
    gap: 10px;

   
}

#av{
    display: flex;
    justify-content: center;
    gap: 130px;
  
}

img{
    width: 100%;
}
.temoignages1{
 width: 250px;

    
    border: 1px solid rgb(230, 226, 226);

    text-align: center;

    
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.237);
   
   
}
.temoignages2{
     display: flex;
     padding: 25px;
    justify-content: center;
    gap: 200px;
}
iframe{
    width: 100%;
}


